<html>

<head>
    <title>Contact</title>
    <style>
        .h1_c{
            text-align: center;
            color: white;
            margin-bottom: 6vh;
        }
        

        
    </style>
</head>

<body>
    {% extends "projecto_web_app/base.html" %}


    {% load static %}
    {% block content %}
        

        <div class="container-formulario">
            
            <h1 class="h1_c">Contact Form</h1>
            {% if "valido" in request.GET %}

                <p style="color:white;text-align: center;">Thank you for contacting us</p>

            {% endif %}
            {% if "novalido" in request.GET %}

                <p style="color:rgb(231, 2, 2);text-align: center;">ERROR\\ The mail has not been sent //ERROR</p>

            {% endif %}

            <form action="" method="post" style="text-align: center;">
                {% csrf_token %}
                <table style="color: white;margin:20px auto;">
                    {{miformulario.as_table}}
                </table>
                <input type="submit" value="Send" style="width: 10vw;">
            </form>
            

        </div>
        
         
    {% endblock %}
    
    
</body>



</html>