<html>

<head>
    
    <title>Services</title>
    <style>
        div p{
            color: white;
            text-align: center;

        }
        div h2{
            color: white;
            text-align: center;
            text-decoration: underline;
            font-size: 3rem;

        }
        div img{
            width: 35vw;
            height: 45vh;
            display:block;
            margin:auto;
        }

    </style>
</head>

<body>
    {% extends "projecto_web_app/base.html" %}


    {% load static %}
    {% block content %}
   
        {% for servicio in servicios %}

    <div>
        <p>
            <h2>{{servicio.titulo}}</h2>
            <p>{{servicio.contenido}}</p>
            <p><img src="{{servicio.imagen.url}}" alt=""></p>
        </p>
    </div>
        
    
    
        {% endfor %}
    {% endblock %}
    

</body>


</html>