<head>
    <style>
        .tablita{
            
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.6);
            
            margin-top: 2vh;
            background-color: rgb(24, 64, 8, 0.9); 
        }
    </style>
</head>
<div class="tablita" style="">
    <table class="table table-bordered table-responsive" style="color: white;">
        <thead>
            <tr>
                <td colspan="3" class="text-center">
                    Shopping
                </td>
            </tr>
            <tr>
                <td>Items</td>
                <td>Amount</td>
                <td>Mod</td>
            </tr>
        </thead>
        <tbody class="" style="overflow: scroll">
            {% if request.session.carro.items %}
                {% for key,value in request.session.carro.items %}
                    <tr class="text-center ">
                        <td>{{value.nombre}}</td>
                        <td>{{value.cantidad}}</td>
                        <td>
                            <a href="{% url 'carro:agregar' value.producto_id %}" class="btm btn-sm btn-success">+</a>
                            <a href="{% url 'carro:restar' value.producto_id %}" class="btm btn-sm btn-success">-</a><br>
                            
                            {{value.precio}}Є
                        </td>
                    </tr>

                {% endfor %}

            {% else %}
            <tr>
                <td colspan="3">
                    <div class="alert alert-danger text-center">
                        Without items
                    </div>

                </td>
            </tr>
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">
                    Total: {{importe_total_carro}}Є
                    {% if importe_total_carro > 0 %}
                        
                        <input class="btm btn-sm btn-success" type="submit" value="Comprar" style="text-align: right;margin-left: 5vw;">
                        
                    {% endif %}
                </td>
            </tr>
            

        </tfoot>

    </table> 
</div>